telegram-weather-bot.json
{
  "name": "Telegram Weather Bot",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ]
      },
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1,
      "position": [
        300,
        300
      ],
      "credentials": {
        "telegramApi": {
          "id": "1",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.openweathermap.org/data/2.5/weather?q={{$json.message.text}}&appid=API-KEY&units=metric&lang=pt_br",
        "responseFormat": "json"
      },
      "name": "Consultar Clima",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        600,
        300
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "mensagem",
              "value": "🌡️ Temperatura: {{$json[\"main\"][\"temp\"]}}°C\n\n🤔 Sensação térmica: {{$json[\"main\"][\"feels_like\"]}}°C\n\n☁️ Clima: {{$json[\"weather\"][0][\"description\"]}}\n\n💧 Umidade: {{$json[\"main\"][\"humidity\"]}}%\n\n💨 Vento: {{$json[\"wind\"][\"speed\"]}} km/h",
              "type": "string"
            }
          ]
        }
      },
      "name": "Formatar Resposta",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [
        900,
        300
      ]
    },
    {
      "parameters": {
        "chatId": "={{$('Telegram Trigger').item.json.message.chat.id}}",
        "text": "={{$json[\"mensagem\"]}}"
      },
      "name": "Enviar Resposta",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        1200,
        300
      ],
      "credentials": {
        "telegramApi": {
          "id": "1",
          "name": "Telegram Bot"
        }
      }
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Consultar Clima",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consultar Clima": {
      "main": [
        [
          {
            "node": "Formatar Resposta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatar Resposta": {
      "main": [
        [
          {
            "node": "Enviar Resposta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
